#contact-section {
	p {
		text-align: center;
	}

	.iframe {
		max-height: 70vh;
	}

	.title {
		margin: 1.5rem 0;
	}
}
.presentation-card {
	height: 150px;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

.welcome {
	padding-bottom: 0.5rem;
}

.contact-form form,
.contact-box {
	border-radius: 10px;
	background-color: $gray-light;
}

.submit-contact {
	text-align: end;
}

.row-info {
	margin: 1em 0;
}

.contact-box {
	padding: 1em;
	margin: 0.3em;
	display: flex;
	flex-direction: column;
	align-items: center;

	&.phones {
		span {
			display: block;
		}
	}
	a,
	p {
		color: $dark-color;
		font-size: 1em;
	}
	.icon {
		margin-right: 0.5em;
		&.facebook {
			color: #415e9b;
		}
		&.twitter {
			color: #1c9cea;
		}
		&.map {
			color: #d43c30;
		}
	}
}
.redes {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 992px) {
	.container-contact {
		display: grid;
		grid-template-columns: 60% 40%;
		grid-template-rows: 50% 50%;
		grid-template-areas:
			'form info'
			'form	map';
		max-width: 960px;
		margin: 0 auto;
	}

	.contact-form {
		grid-area: form;
	}

	.contact-info {
		grid-area: info;
	}
	.iframe-maps {
		grid-area: map;
		.iframe {
			width: 100%;
			height: 100%;
		}
	}
}
