#video-section {
	h2 {
		text-align: center;
	}
}
.video-wrapper {
	align-items: center;
	.col-lg-7 {
		padding-right: 0px;
		padding-left: 0px;
	}
	.iframe {
		max-height: 60vh;
	}
	.video-text {
		background-color: $primary-color;
		padding: 1.5em;
	}
}
@media screen and (min-width: 992px) {
	.video-text {
		height: 60vh;
	}
}
