#loan-section {
	position: relative;

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
	}
}

.btn-loan-form {
	font-weight: 400;
	transform: translateY(1.2rem);
	z-index: 10;
}
.bg-fluid-1,
.bg-fluid-2 {
	justify-content: center;
	align-items: flex-end;
	height: 60px;
	background-color: rgba($color: $dark-color, $alpha: 0.99);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
	&::after {
		content: '';
		width: 100%;
		position: absolute;
		left: 0;
		border: 1px solid $gray;
		border-style: solid none none none;
		box-shadow: 0px 0px 5px 1px $dark-color;
		opacity: 0.5;
	}
}

legend {
	font-size: 1rem;
}
.months {
	label {
		font-size: 1em;
	}
	input[type='radio'] {
		display: none;
		&:checked ~ label {
			color: #fff;
			background-color: transparentize($color: $primary-color, $amount: 0.2);
		}
	}
}

.row-calculate {
	align-items: flex-end;
	justify-content: center;
}

.loan-result {
	background-color: $gray-light;
	border-radius: 10px;
	margin: 0.5rem 0;
	text-align: center;
	p {
		margin: 0;
		font-size: 1.1em;
	}
	.payment {
		font-size: 3em;
		color: $primary-color;
	}
	.total {
		font-weight: 800;
	}
}
