<section class="about container" id="about-section">
  <h2 class="title">About Us</h2>
  <div class="row">
    <div class="col-lg-6 about-img">
      <img src="/images/us.jpg" alt="About Us">
    </div>
    <div class="col-lg-6 text-strong">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, cupiditate quas minus
        blanditiis
        voluptates officia
        at quod fugit voluptatem <b>explicabo aspernatur</b>. Necessitatibus, quas labore minima accusamus laboriosam
        voluptatibus
        voluptate cupiditate!</p>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. <u>Molestiae voluptate</u>,
        distinctio
        officia
        autem labore
        rerum
        ex. Tempore sint earum doloremque sequi, excepturi est tempora, quisquam expedita eveniet qui, unde sunt!
      </p>
    </div>
  </div>
</section>