<div class="container">
  <div class="row">
    <div class="col-md text-center">
      <h3 class="heading-2">MySite Group</h3>
      <p>¡There is always a loan for you!</p>
    </div>
    <div class="col text-center">
      <h4 class="heading-2 m-0">Links</h4>
      <div class="navbar navbar-footer">
        <ul class="navbar-nav nav">
          <li class="nav-item"><a href="#home-section" class="nav-link"><span>Home</span></a></li>
          <li class="nav-item"><a href="#video-section" class="nav-link"><span>Investing</span></a></li>
          <li class="nav-item"><a href="#credito-section" class="nav-link"><span>InstaLoan</span></a></li>
          <li class="nav-item"><a href="#about-section" class="nav-link"><span>About Us</span></a></li>
          <li class="nav-item"><a href="#contact-section" class="nav-link"><span>Contact</span></a></li>
        </ul>
      </div>
    </div>
    <div class="col text-center">
      <h3 class="heading-2 m-0">Services</h3>
      <div class="navbar navbar-footer">
        <ul class="navbar-nav nav">
          <li class="nav-item"><a href="#home-section" class="nav-link"><span>Home</span></a></li>
          <li class="nav-item"><a href="#video-section" class="nav-link"><span>Investing</span></a></li>
          <li class="nav-item"><a href="#credito-section" class="nav-link"><span>Auto Loan</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="copy-r col-md-12 text-center">
      <p><a href="http://www.freepik.com">Images designed by Freepik</a></p>
      <p>Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> Developed
        by <a class="brand" href="#" target="_blank">
          <b>Will</b><span>Dev</span></a>
      </p>
    </div>
  </div>
</div>