<nav class="navbar navbar-expand-lg navbar-dark site-navbar-target" id="mainNavbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img class="logo-navbar" src="images/logo.png" alt="logo" width="150"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu"
            aria-expanded="false" aria-label="Toggle navigation">
            <i data-feather="menu"></i> MENU
        </button>

        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav nav ml-auto">
                <li class="nav-item">
                    <a href="#home-section" class="nav-link"><span>Home</span></a>
                </li>
                <li class="nav-item">
                    <a href="#about-section" class="nav-link"><span>About Us</span></a>
                </li>
                <li class="nav-item">
                    <a href="#services-section" class="nav-link"><span>Services</span></a>
                </li>
                <li class="nav-item">
                    <a href="#loan-section" class="nav-link"><span>InstaLoan</span></a>
                </li>
                <li class="nav-item">
                    <a href="#contact-section" class="nav-link"><span>Contact</span></a>
                </li>
            </ul>
            <ul class="nav navbar-social">
                <li class="nav-item"><a class="nav-link" href="https://facebook.com">
                        <i class="icon facebook" data-feather="facebook"></i></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://www.twitter.com">
                        <i class="icon twitter" data-feather="twitter"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>