<section class="services" id="services-section">
  <div class="container">
    <h2 class="title">Services</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="card-p">
          <h3 class="service">Credit Card</h3>
          <i data-feather="credit-card" class="icon"></i>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint molestiae fuga, mollitia ullam ducimus
            culpa necessitatibus maiores at ratione nobis ab incidunt obcaecati praesentium optio est assumenda!
            Perferendis, placeat inventore!
          </p>
          <a href="#">Learn more</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card-p">
          <h3 class="service">Instant Loan</h3>
          <i data-feather="dollar-sign" class="icon"></i>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At recusandae blanditiis, numquam ipsa itaque
            esse? Officia aliquid distinctio voluptatum minima, recusandae illum architecto repudiandae fugit,
            dolorem reprehenderit dolor esse molestias.
          </p>
          <div class="link-more">
            <a href="#">Learn more</a>
            <a href="#loan-section">Calculator</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card-p">
          <h3 class="service">Investing</h3>
          <i data-feather="briefcase" class="icon"></i>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam similique nulla, ad rem commodi harum
            dolores accusantium quas possimus minima. Magnam reiciendis voluptatem numquam laudantium officiis
            quis eaque minima delectus.
          </p>
          <a href="#video-section">Learn more</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card-p">
          <h3 class="service">Specialized advice</h3>
          <i data-feather="message-square" class="icon"></i>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates eligendi accusantium laboriosam
            magni animi culpa non quisquam. Tempore recusandae rem numquam nihil perferendis aperiam,
            reprehenderit, architecto, beatae earum sunt aspernatur.
          </p>
          <a href="#contact-section">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>