<section class="video-section" id="video-section">
  <div class="container-fluid">
    <div class="row video-wrapper">
      <div class="col-lg-6 video-text">
        <h2 class=" title-max p-3">Professional Investing</h2>
        <p><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus rem pariatur atque
            reprehenderit!</span> Natus,
          culpa. Cum deserunt rerum aliquam soluta atque. Sequi cumque, repellat eligendi blanditiis adipisci
          aspernatur accusantium velit.</p>
      </div>
      <iframe class="iframe col-lg-6" width="320" height="320" src="https://www.youtube.com/embed/_4ICFmAr_DQ" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </div>
</section>