#mainNavbar {
	width: 100%;
	// padding: 0.5rem 0;
	background-color: rgba($color: $dark-color, $alpha: 0.99);
	z-index: 20;
	button {
		line-height: 1.5;
		color: $gray;
		.feather {
			width: 20px;
		}
	}
}
#mainMenu {
	.navbar-nav {
		align-items: center;
	}
	.nav-item {
		.nav-link {
			font-size: 1rem;
			color: $gray-light;
			&.active {
				color: $primary-color;
			}
		}
	}
	.navbar-social {
		justify-content: flex-end;
	}
}

.navbar-header {
	position: sticky;
	top: 0;
	z-index: 1000;
}

@media screen and (min-width: 992px) {
	#mainNavbar {
		background-color: rgba($color: white, $alpha: 0.95);
	}
	.navbar-brand {
		img {
			width: 200px;
		}
	}
	button {
		color: $dark-color;
		.feather {
			width: 20px;
		}
	}
	#mainMenu {
		.nav-item {
			.nav-link {
				position: relative;
				padding: 0 1.2rem;
				color: $dark-color;
				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 10%;
					width: 0;
					height: 2px;
					background-color: $primary-color;
					transition: all 0.3s ease-in-out;
				}
				&.active::before {
					width: 80%;
				}
			}
		}
	}
}
