#services-section {
	margin: 3rem auto;
	.icon {
		display: block;
		margin: 0.2em auto;
		text-align: center;
		color: $primary-color;
	}
}
.service {
	color: $dark-color;
	text-align: center;
}

.card-p {
	margin: 0.3em auto;
	padding: 1.2em;
	border-radius: 10px;
	background-color: $gray-light;
	.link-more {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	p {
		color: $secondary-color;
		text-align: justify;
	}
}
